@import "../../styles/variables";

.main {
  //   margin: $height-header auto 0 auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-top: $height-header;
  max-width: $width-main;
  min-height: calc(100vh - $height-footer);
}

.tiles {
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 20rem;
  gap: $grid-gap;
  padding: $grid-gap;

  @media (max-width: $break-tablet) {
    grid-template-columns: 1fr;
  }

  @media (max-width: $break-phone) {
  }
}
