@import "../../../styles/variables";

.modal {
  position: fixed;
  left: 50%;
  top: 4rem;
  transform: translateX(-50%);
  background-color: $color-grey-light-very;
  padding: 1rem 1rem 7rem 1rem;
  width: max-content;
  margin-bottom: 4rem;

  @media (max-width: $break-phone) {
    top: 30%;
  }

  img {
    width: 100%;
    height: 100%;
    max-width: 90vw;
    max-height: 80vh;
    object-fit: contain;
  }
}
