@import "../../../styles/variables";

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  background-color: $color-shadow;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}
