// font sizes
$font-small-very: 1rem;
$font-small: 1.2rem;
$font-medium: 1.6rem;
$font-large: 2.2rem;
$font-large-very: 3.2rem;

// colors
$color-white: rgb(250, 250, 250);

$color-black: rgb(5, 5, 5);

$color-grey-dark: rgb(70, 70, 70);
$color-grey: rgb(128, 128, 128);
$color-grey-light: rgb(180, 180, 180);
$color-grey-light-very: rgb(240, 240, 240);

$color-shadow: rgba(0, 0, 0, 0.33);

// heights
$height-header: 6rem;
$height-footer: 8rem;

// breaks
$break-phone-tiny: 310px;
$break-phone: 620px;
$break-tablet: 1000px;

//others
$border-radius-small: 5px;
$border-radius: 10px;
$grid-gap-small: 1rem;
$grid-gap: 1.5rem;
$width-main: 140rem;
