// font sizes
$font-small: 1.2rem;
$font-medium: 2rem;
$font-large: 3.5rem;
$font-large-very: 5rem;

// colors
$color-white: rgb(250, 250, 250);

$color-black: rgb(5, 5, 5);

$color-grey-dark: rgb(70, 70, 70);
$color-grey: rgb(128, 128, 128);
$color-grey-light: rgb(180, 180, 180);
$color-grey-light-very: rgb(240, 240, 240);

$color-shadow: rgba(0, 0, 0, 0.33);

// heights
$height-header: 6rem;
$height-footer: 8rem;

// breaks
$break-phone: 650px;
$break-tablet: 1000px;

//others
$border-radius: 5px;
$grid-gap: 1rem;
