@import "../../styles/variables";

.form {
  display: grid;
  width: 100%;
  align-items: center;
  grid-template-columns: 15rem 1fr;
  font-size: $font-medium;
  gap: 1rem;
  background-color: $color-white;
  padding: 2rem 5rem;
  border-radius: $border-radius;
  box-shadow: 0 2px 2px $color-shadow;
  font-family: inherit;
  white-space: pre-wrap;

  @media (max-width: $break-phone) {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
}

.text {
  font-family: inherit;
  width: 100%;
  padding: 0.7rem;
  border-radius: 3px;
  border: 1px solid $color-grey;
  background: none;
  resize: none;
  font-size: $font-medium;

  @media (max-width: $break-phone) {
    width: 100%;
  }
}

.description {
  height: 30rem;
}

.btn {
  height: 5rem;
  margin-top: 2rem;
  grid-column: 1/3;
  justify-self: center;

  font-size: $font-medium;
  font-weight: 700;
  color: $color-grey-light-very;
  padding: 1rem;
  border-radius: 10px;
  border: none;
  background-color: $color-grey;
  border: 1px solid $color-grey;
  cursor: pointer;

  transition: all 0.3s;

  &:hover {
    transform: scale(1.05);
  }

  &:active {
    transform: scale(1);
  }
}
