@import "../styles/variables";

.main {
  overflow: hidden;
}

.text {
  position: absolute;
  margin: 15rem 50vw 0 10%;
  z-index: 1;
  font-size: $font-medium;

  p {
    margin-bottom: 3rem;
  }

  @media (max-width: $break-phone) {
    margin: 15rem 30vw 0 10%;
  }
}

.nav {
  margin-top: 6rem;
  & ul {
    display: flex;
    flex-direction: column;
    font-size: $font-large;
  }
}

.photo {
  width: 100%;
  margin-top: $height-header;
  height: calc(100vh - $height-footer - $height-header);
  position: relative;

  img {
    position: absolute;
    right: 0;
    height: 100%;
  }

  @media (max-width: $break-phone) {
    transform: translateX(20rem);
  }
}

.icons {
  height: 7rem;
}
