@import "../styles/variables";

.main {
}

.text {
  margin-left: 10%;
  position: absolute;
  margin: 15rem 50vw 0 10%;
  z-index: 1;
  font-size: $font-large;
  p {
    margin-bottom: 3rem;
  }
}

.photo {
  width: 100%;
  margin-top: $height-header;
  height: calc(100vh - $height-footer - $height-header);
  position: relative;

  img {
    position: absolute;
    right: 0;
    height: 100%;
  }
}

.icons {
  height: 7rem;
}
