@import "../styles/variables";

.main {
  min-height: calc(100vh - $height-footer);
  display: flex;
  margin: $height-header auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: $width-main;
  font-size: $font-medium;
  padding: $grid-gap;
}

.modes {
  display: flex;
  gap: 5rem;
}

.modebtn {
  cursor: pointer;
  font-size: $font-large-very;
  font-weight: 300;
  padding-top: 3rem;

  & span {
    font-weight: 700;
  }
}
