@import "../styles/variables";

.main {
  min-height: calc(100vh - $height-footer);
  display: flex;
  padding: $height-header auto 2rem auto;
  margin: $height-header auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: $width-main;
  font-size: $font-medium;

  & h1 {
    font-size: $font-large;
    margin: 3rem auto;
    font-weight: 700;
  }
  & h2 {
    font-size: $font-large;
    margin: 3rem auto;
    font-weight: 300;

    @media (max-width: $break-phone) {
      margin: 3rem auto 0 auto;
    }
  }
}
