@import "../styles/variables";

.main {
  min-height: calc(100vh - $height-footer);
  padding-top: 10rem;

  display: flex;
  flex-direction: column;

  @media (max-width: $break-phone) {
    padding-top: 0;
    height: 100vh;
  }
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15rem;
  overflow: hidden;

  @media (max-width: $break-phone) {
    height: 11rem;
    // background-color: $color-white;
    justify-content: space-between;
  }

  img {
    height: 34rem;

    @media (max-width: $break-phone) {
      height: 28rem;
    }
  }

  &--text {
    font-size: 6rem;

    @media (max-width: $break-phone) {
      margin-right: 1.5rem;
    }
  }
}

.nav {
  margin: auto;
  transform: translateY(-20%);
  & ul {
    font-size: $font-large-very;
    flex-direction: column;

    @media (max-width: $break-phone) {
      height: 100%;
      flex-grow: 1;
      gap: 4rem;
    }
  }

  li:hover {
    transition: all 0.1s;
    font-weight: 700;
  }
}

.links {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 2rem;
  font-size: $font-medium;
  width: 22rem;
}
