@import "../styles/variables";

.main {
  min-height: calc(100vh - $height-footer);
  padding-top: 10rem;

  display: flex;
  flex-direction: column;

  @media (max-width: $break-phone) {
    height: 100vh;
  }
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15rem;
  overflow: hidden;

  img {
    height: 34rem;
  }

  .logo--text {
    font-size: $font-large-very;
  }
}

.nav {
  display: flex;
  margin: 10rem auto;
  text-align: center;

  & ul {
    font-size: $font-large;
    flex-direction: column;
    @media (max-width: $break-phone) {
      gap: 4rem;
    }
  }

  li:hover {
    transition: all 0.1s;
    font-weight: 700;
  }
}

.links {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 2rem;
  font-size: $font-medium;
  width: 22rem;
}
