@import "../../styles/variables";

.container {
  position: fixed;
  left: 50%;
  top: 4rem;
  transform: translate(-50%);
  background-color: white;
  padding: 1rem;
  width: max-content;
  margin-bottom: 4rem;

  @media (max-width: $break-phone) {
    top: 50%;
    transform: translate(-50%, -55%);
    padding: 1rem;
  }

  & img,
  video {
    width: 100%;
    height: 100%;
    max-width: 90vw;
    max-height: 80vh;
    object-fit: contain;

    @media (max-width: $break-phone) {
      max-width: 92vw;
      max-height: 80vh;
    }
  }
}
