@import "../../styles/variables";

.container {
  position: fixed;
  left: 50%;
  top: 4rem;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem;
  width: max-content;
  margin-bottom: 4rem;

  @media (max-width: $break-phone) {
    background: none;
    transform: translate(-50%, -55%);
    padding: 0;
  }

  &--youtube {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 12rem);
    width: 90vw;

    @media (max-width: $break-phone) {
      background: none;
      top: calc(50% + 2rem);
      transform: translate(-50%, -55%);
      padding: 0;
      width: 100vw;
      height: calc(100vh - 20rem);
    }

    & iframe {
      width: 100%;
      height: 100%;
    }
  }

  & img,
  video {
    width: 100%;
    height: 100%;
    max-width: 90vw;
    max-height: calc(100vh - 14rem);
    object-fit: contain;

    @media (max-width: $break-phone) {
      max-width: 100vw;
      max-height: 80vh;
    }
  }
}
