@import "../styles/variables";

.form {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr;
  font-size: $font-medium;
  gap: 1rem;

  @media (max-width: $break-phone) {
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  input,
  textarea {
    width: 50rem;
    padding: 0.7rem;
    border-radius: 3px;
    border: 1px solid $color-grey;
    background: none;
    resize: none;
    font-size: $font-medium;

    @media (max-width: $break-phone) {
      width: 100%;
    }
  }

  .btn {
    height: 5rem;
    margin-top: 2rem;
    grid-column: 1/3;
    justify-self: center;
  }

  button {
    font-size: $font-medium;
    font-weight: 700;
    color: $color-grey-light-very;
    padding: 1rem;
    border-radius: 10px;
    border: none;
    background-color: $color-grey;
    border: 1px solid $color-grey;
    cursor: pointer;

    transition: all 0.3s;

    &:hover {
      transform: scale(1.05);
    }

    &:disabled {
      display: none;
      //   cursor: auto;
      //   color: $color-grey-light;
      //   border: 1px solid $color-grey-light;
      //   background-color: $color-grey-light-very;

      //   &:hover {
      //     transform: scale(1);
      //   }
    }

    &:active {
      transform: scale(1);
    }
  }
}

.msg {
  min-height: 20rem;
}

.error {
  & span {
    color: red;
  }
  &.input {
    border-color: red;
  }
}
