@import "../styles/variables";

.footer {
  width: 100%;
  background-color: $color-white;

  svg {
    height: 2.5rem;
    fill: $color-grey-dark;
  }
}

.container {
  min-height: 5rem;
  font-size: 1rem;
  max-width: 150rem;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  gap: 2.5rem;
  padding: 2rem 10%;
  justify-items: start;
  align-items: center;
  font-size: $font-small;

  max-width: 150rem;
}

.text {
  max-width: 50rem;
}

.contact {
  min-width: 32rem;
  display: grid;
  grid-template-columns: 3rem 1fr 3rem 1fr;
  justify-items: start;
  align-items: center;
  row-gap: 1rem;

  svg {
    height: 2rem;
    fill: $color-grey-dark;
  }
}

.icons {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-self: end;
}

.fixed {
  position: fixed;
  bottom: 0;
}
