@import "../../styles/variables";

.main {
  padding-top: $height-header;
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
  max-width: 110rem;

  & h1 {
    margin: 3rem;
    font-size: $font-large;
  }
}

.content {
  width: 100%;
  //   display: grid;
  //   grid-template-columns: 40% 60%;
  //   gap: 2rem;

  //   & p {
  //     font-size: $font-medium;
  //   }
}

.row {
  display: grid;
  grid-template-columns: 45rem auto;
  justify-content: space-between;
  gap: 2rem;
  margin: $grid-gap;

  & p {
    // width: 60%;
    font-size: $font-medium;
  }
}

.image-big {
  height: 30rem;
  overflow: hidden;
  border-radius: $border-radius;
  background-color: $color-black;

  & img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.images {
  width: 100%;
  display: grid;
  height: min-content;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: $grid-gap;

  @media (max-width: $break-tablet) {
    grid-template-columns: 1fr 1fr;
  }
}
