@import "../../styles/variables";

.main {
  padding-top: $height-header;
  width: 100%;
  min-height: calc(100vh - $height-footer);
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
  max-width: $width-main;
  position: relative;
  margin-top: 3rem;

  @media (max-width: $break-phone) {
    margin-top: 0;
  }
}

.content {
  width: 100%;
  display: grid;
  grid-template-columns: 45% auto;
  padding: $grid-gap;
  gap: 2rem;
  font-size: $font-medium;
  white-space: pre-line;

  @media (max-width: $break-phone) {
    padding: 0;
    grid-template-columns: 1fr;
  }
}
