@import "../../styles/variables";

.main {
  padding-top: $height-header;
  width: 100%;
  min-height: calc(100vh - $height-footer);
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
  max-width: $width-main;
  position: relative;
  margin-top: 3rem;

  @media (max-width: $break-phone) {
    margin-top: 0;
  }
}

.content {
  width: 100%;
  display: grid;
  grid-template-columns: 45% auto;
  padding: $grid-gap;
  gap: 2rem;
  font-size: $font-medium;
  white-space: pre-line;

  @media (max-width: $break-phone) {
    padding: 0;
    grid-template-columns: 1fr;
  }
}

.images {
  @media (max-width: $break-phone) {
    width: 100%;
    overflow: auto;
    border-bottom: 1px solid $color-grey-light;
    border-top: 1px solid $color-grey-light;
  }
}

.image-big {
  aspect-ratio: 16 / 9;
  overflow: hidden;
  border-radius: $border-radius;
  background-color: $color-black;
  margin-bottom: $grid-gap;

  & img,
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (max-width: $break-phone) {
    display: none;
  }

  &--mobile {
    grid-row: 1;
    height: 22rem;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @media (min-width: $break-phone) {
      display: none;
    }
  }
}

.thumbnails {
  width: 100%;
  display: grid;
  height: min-content;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 8rem;
  gap: $grid-gap;

  @media (max-width: $break-tablet) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (max-width: $break-phone) {
    display: flex;
    padding: 0.5rem;
    gap: 0.5rem;
  }
}

.text {
  & h1 {
    font-size: $font-large;
    margin-bottom: 3rem;

    @media (max-width: $break-phone) {
      position: absolute;
      top: calc($height-header + 22rem);
      left: 0;
      transform: translateY(-100%);
      padding: 1rem 0;
      color: $color-white;
      width: 100%;
      text-align: center;
      padding: 1rem;
      margin: 0;
      background: linear-gradient(rgba(0, 0, 0, 0), $color-shadow);
    }
  }

  @media (max-width: $break-phone) {
    grid-row: 2;
    padding: $grid-gap;
  }

  & p {
    line-height: 140%;
  }
}

.thumbnail {
  @media (max-width: $break-phone) {
    flex: 0 0 20rem;
    height: 12rem;
  }
}

.projects-nav {
  margin-top: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.btn {
  display: flex;
  align-items: center;
  font-size: $font-medium;
  margin: 3rem 0;
  padding: 0 3rem;
  text-align: center;
  transition: all 0.3s;

  &:hover {
    transform: translateX(-3rem);

    @media (max-width: $break-tablet) {
      transform: translateX(0);
    }
  }

  &--nav {
    font-size: $font-small;

    @media (max-width: $break-phone) {
      font-size: $font-medium;
    }

    &:hover {
      transform: translateX(0) scale(1.05);

      @media (max-width: $break-tablet) {
        transform: translateX(0);
      }
    }

    & span {
      @media (max-width: $break-phone) {
        display: none;
      }
    }
  }
}
