@import "../../styles/variables";

.main {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 5rem;
  align-items: center;
  height: 100vh;
}

.card {
  width: 30vw;
  height: 50vh;

  & h1 {
    font-size: $font-large;
    text-align: center;
    margin: 2rem;
  }
}
