@import "../../styles/variables";

.contact {
  display: grid;
  grid-template-columns: 4rem 1fr 4rem 1fr;
  justify-items: start;
  align-items: center;
  row-gap: 1rem;
  height: 100%;

  svg {
    height: 100%;
    fill: $color-grey-dark;
  }
}
