@import "../../styles/variables";

.spinner {
  margin: auto;
  text-align: center;

  svg {
    width: 5rem;
    height: 5rem;
    animation: rotate 2s infinite linear;

    line {
      stroke: $color-grey-dark;
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
