@import "../../styles/variables";

.spinner {
  height: 100%;
  height: 100%;
  margin: auto;

  svg {
    width: 5rem;
    height: 5rem;
    animation: rotate 2s infinite linear;

    line {
      stroke: $color-grey-dark;
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
